.profile__title {
  margin: 0;
  margin-right: 17px;
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 320px) {
  .profile__title {
    font-size: 27px;
    line-height: 1.22;
    text-align: center;
    margin-right: 10px;
    margin-left: 15px;
    letter-spacing: 0.2px
  }
}